libuv-v1.32.0/
linux/**
mac/**
windows/**
!linux/*/include
linux/*/include/**
!linux/*/include/**/*.h
!linux/*/lib
linux/*/lib/**
!linux/*/lib/**/*.a
!mac/*/include
mac/*/include/**
!mac/*/include/**/*.h
!mac/*/lib
mac/*/lib/**
!mac/*/lib/**/*.a
!windows/*/include
windows/*/include/**
!windows/*/include/**/*.h
!windows/*/lib
windows/*/lib/**
!windows/*/lib/**/*.a
