libuv-v1.32.0/
linux/**
mac/**
windows/**
!linux/aarch64/include
linux/aarch64/include/**
!linux/aarch64/include/**/*.h
!linux/aarch64/lib
linux/aarch64/lib/**
!linux/aarch64/lib/**/*.a
!linux/x86_64/include
linux/x86_64/include/**
!linux/x86_64/include/**/*.h
!linux/x86_64/lib
linux/x86_64/lib/**
!linux/x86_64/lib/**/*.a
!mac/x86_64/include
mac/x86_64/include/**
!mac/x86_64/include/**/*.h
!mac/x86_64/lib
mac/x86_64/lib/**
!mac/x86_64/lib/**/*.a
!windows/x86/include
windows/x86/include/**
!windows/x86/include/**/*.h
!windows/x86/lib
windows/x86/lib/**
!windows/x86/lib/**/*.a
!windows/x86_64/include
windows/x86_64/include/**
!windows/x86_64/include/**/*.h
!windows/x86_64/lib
windows/x86_64/lib/**
!windows/x86_64/lib/**/*.a
